html {
    font-family: Helvetica;
}

body {
    margin: 5%;
}

#root-container {
    margin: 0 auto;
    max-width: 1366px;
}

.chart-container {
    display: inline-block;
}

.button-container {
    display: block;
    margin-bottom: 10px;
}